body{ /* Total de la página */
    background-color: rgb(31, 30, 30);
}


.contenedor{ /* Contiene algunos elementos en index.html */
    color: white;
    text-align: center;
}

.contenedor2{ /* Contiene algunos elementos en menu.html */
    color: white;

}



a{ /* Parametros de los enlaces */
    text-decoration: none;
    transition: 0.8s;
    color: wheat;

}

.title_global{
    font-size: 60px;
    color: wheat;
}

a:hover{
    text-decoration: underline; /* Cuando pasas por el enlace se pone el estilo underline *una raya abajo* */
}

a:visited{ /* Cuando visitas la página se pone el color siguiente */
    color: wheat;
}

.header{ /* Header de index.html */
    color: wheat;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    width: 400px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(27, 27, 27);

}

.header_text > a{ /* Header de la web index.html para los enlaces */
    color: wheat;
}

.titulo_index{ /* Titulo de index.html */
    text-align: center;
    margin-top: 65px;
}

.parrafo_inicio{
    font-size: 18px;
}

.article{
    border: 1px solid black;
    width: 550px;
    margin-left: 0px;
    margin-top: 100px;
    background-color: rgb(49, 49, 49);
    box-sizing: border-box;
}

.article2{
    border: 1px solid black;
    width: 550px;
    margin-left: 0px;
    margin-top: 100px;
    background-color: rgb(49, 49, 49);
    box-sizing: border-box;

}

.enlace_menu{
    font-size: 25px;
}